In [1]:
print("triveni")

triveni

In [4]:
i=7
if i<0:
    print("-")
elif i>0:
    if i%2==0:
        print("EVEN")
    else:
        print("odd")
    print("+")
else:
    print(0)

odd
+

In [ ]:
for i in range(1,51):
    if i%2==1:
        print(i)

In [ ]:
o=1
while o<10:
    print(o)
    o+=1

In [3]:
#IF even skip the iteration
o=1
while o<10:
    o+=1
    if o%2 == 0:
        continue
    print(o)

3
5
7
9

In [4]:
age = int(input("enter age:"))
print(type(age))

enter age: 67

<class 'int'>

In [5]:
#series of input in one command
x = input("enter numbers").split()
print(x)

enter numbers 1 2 3 4 5 6 67

['1', '2', '3', '4', '5', '6', '67']

In [6]:
#series of input in one command
x,y,z = input("enter numbers").split()
print(x)

enter numbers 2 4 6

2

In [7]:
x,y,z = input("enter numbers").split()
print("Number is",x)

enter numbers 3 4 56

Number is 3

In [11]:
for i in range(1,21):
    print(i,end="\n")

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [12]:
for i in range(1,21):
    print(i,end=".")

1.2.3.4.5.6.7.8.9.10.11.12.13.14.15.16.17.18.19.20.

In [15]:
#format method
#series of input in one command
x,y,z = input("enter numbers").split()
print("Number : {} {} {}".format(z,y,x))

enter numbers 3 5 6

Number : 6 5 3

In [16]:
#highlighting the sql
print("I know 'SQL'")

I know 'SQL'

In [17]:
#highlighting the sql
print('I know "SQL"')

I know "SQL"

In [19]:
#inbuilt functions in python
lis = [1,2,3,4,5,6,7,8]
lis[1] = 46
print(lis)

[1, 46, 3, 4, 5, 6, 7, 8]

In [20]:
lis.append(100)
print(lis)

[1, 46, 3, 4, 5, 6, 7, 8, 100]

In [21]:
lis.extend([1,3,5,6])
lis

[1, 46, 3, 4, 5, 6, 7, 8, 100, 1, 3, 5, 6]

In [23]:
lis.insert(3,25)
lis

[1, 46, 3, 25, 25, 4, 5, 6, 7, 8, 100, 1, 3, 5, 6]

In [28]:
lis=[1, 46, 3, 25, 25, 4, 5, 6, 7, 8, 100, 1, 3, 5, 6]
lis.remove(3)
print(lis)
#first occurence removed

[1, 46, 25, 25, 4, 5, 6, 7, 8, 100, 1, 3, 5, 6]

In [30]:
p=sorted(lis)
p

[1, 1, 3, 4, 5, 5, 6, 6, 7, 8, 25, 25, 46, 100]

In [33]:
p=sorted(lis)
p

[1, 1, 3, 4, 5, 5, 6, 6, 7, 8, 25, 25, 46, 100]

In [35]:
p.reverse()
p
#reverse is void which prints in reverse order

[1, 1, 3, 4, 5, 5, 6, 6, 7, 8, 25, 25, 46, 100]

In [36]:
#clear and remove and pop

In [38]:
#set 
s ={1,3,5,6,8}
s.add(5) #not added due to duplication
s

{1, 3, 5, 6, 8}

In [39]:
s.remove(5)
s #ex venn diagrams in maths

{1, 3, 6, 8}

In [40]:
#union,intersection,superset,subset,clear

## dictionaries

In [42]:
di= {"name" :"john", "age" : 28, "city" : "chennai"}
for i in di.keys():
    print(di[i])
print(di.keys())

john
28
chennai
dict_keys(['name', 'age', 'city'])

In [45]:
di= {"name" :"john", "age" : 28, "city" : "chennai"}
for x,y in di.items():
    print(x,y)

name john
age 28
city chennai

In [47]:
di= {"name" :"john", "age" : 28, "city" : "chennai"}
di.popitem()
print(di)

{'name': 'john', 'age': 28}

In [48]:
di= {"name" :"john", "age" : 28, "city" : "chennai"}
for i in di.values():
    print(i)

john
28
chennai

## )Write a program that takes a sentence and returns a dictionary with word counts.

In [75]:
s="Python has so many so many words"
words=s.split()
p={}
for i in words:
        i=i.lower()
        p[i]=p.get(i,0)+1
print(p)

{'python': 1, 'has': 1, 'so': 2, 'many': 2, 'words': 1}

In [123]:
s=input("enter:").lower()
count={}
words = s.split()
for i in words:
    if i in count:
        count[i]+=1
    else:
        count[i] = 1
print(count)

enter Hello world hello

{'hello': 2, 'world': 1}

## )Write a program that takes a list of numbers from terminal and returns the second largest number

In [87]:
#series of input in one command
x=list(map(int,input().split(",")))
uniq=list(set(x))
if len(uniq) <2:
    print(None)
else:
    uniq.sort(reverse = True)
    print(uniq[1])

 10,20,20,30,40

30

In [ ]:
#series of input in one command
def second_largest(x):
    
#x=list(map(int,input().split(",")))
    uniq=list(set(x))
    if len(uniq) <2:
        print(None)
    else:
        uniq.sort(reverse = True)
        print(uniq[1])
print

In [88]:
#series of input in one command
x=list(map(int,input().split(",")))
uniq=list(set(x))
if len(uniq) <2:
    print(None)
else:
    uniq.sort(reverse = True)
    print(uniq[1])

 100

None

In [94]:
#series of input in one command
x=list(map(int,input().split(",")))
uniq=list(set(x))
if len(uniq) <2:
    print(None)
else:
    uniq.sort(reverse = True)
    print(uniq[1])

 5,5,5,5

None

In [95]:
#series of input in one command
x=list(map(int,input().split(",")))
uniq=list(set(x))
if len(uniq) <2:
    print(None)
else:
    uniq.sort(reverse = True)
    print(uniq[1])

 1,2,3,4,5

4

## )Write a function that merges two dictionaries. If a key exists in both, sum the values.

In [105]:
d0={'a':10,'b':20}
d9={'b':5,'c':25}
for key,value in d9.items():
    d0[key] = d0.get(key,0)+value
print(merge)

{'a': 10, 'b': 25, 'c': 25}

In [119]:
d1={'x': 1, 'y': 2}
d2={'y': 3, 'z': 4}
merge= d1.copy()
for key,value in d2.items():
    merge[key] =  merge.get(key,0)+value
print(merge)

{'x': 1, 'y': 5, 'z': 4}

## Matrix Transpose

In [4]:
li=[[1,2,3],[4,5,6],[7,8,9],[0,1,2]]  #4 x 3 === 3 x4
tr=[]
for i in range(0,len(li[0])): #3 
    temp =[]
    for j in range(0,len(li)): #4 
        temp.append(li[j][i])
    tr.append(temp)
print(tr)

[[1, 4, 7, 0], [2, 5, 8, 1], [3, 6, 9, 2]]

In [7]:
li=[[1,2,3],[4,5,6],[7,8,9],[0,1,2]]  #4 x 3 === 3 x4
tr = []  # Initialize an empty list for the transposed matrix

for i in range(0, len(li[0])):  # Loop over columns (len(li[0]) = 3)
    temp = []  # Temporary list for the new row in transposed matrix
    
    for j in range(0, len(li)):  # Loop over rows (len(li) = 4)
        temp.append(li[j][i])  # Append element from column i, row j
    
    tr.append(temp)  # Add the new row to the transposed matrix
print(tr)

[[1, 4, 7, 0], [2, 5, 8, 1], [3, 6, 9, 2]]

# Matrix multiplication # bx4  * 4xa = b*a

In [10]:
li1=[[1,2,3],[4,5,6]] #2x3
li2=[ [1,2] ,[3,4] ,[5,6]] #3x2
pr=[]
for i in range(0,len(li1)):
    temp=[]
    e=0
    for j in range(0,len(li2)):
        e+=li[i][j]*li2[j][i]
        temp.append(e)
    pr.append(temp)
print(pr)

[[1, 7, 22], [8, 28, 64]]

In [12]:
li1=[[1,2,3],[4,5,6]] #2x3
li2=[ [1,2] ,[3,4] ,[5,6]] #3x2
result=[]
for i in range(len(li)):
    r=[]
    for j in range(len(li2[0])):
        r.append(0)
    result.append(r)
for i in range(len(li1)):  #2 rows
    for j in range(len(li2[0])):  # (2 columns)
        for k in range(len(li2)):  # common (3 elements)
            result[i][j] += li1[i][k] * li2[k][j] 
for row in result:
    print(row)

[22, 28]
[49, 64]
[0, 0]
[0, 0]

In [13]:
li1=[[1,2,3],[4,5,6]] #2x3
li2=[ [1,2] ,[3,4] ,[5,6]] #3x2
result=[[0,0],[0,0]]
for i in range(len(li1)):  #2 rows
    for j in range(len(li2[0])):  # (2 columns)
        for k in range(len(li2)):  # common (3 elements)
            result[i][j] += li1[i][k] * li2[k][j] 
for row in result:
    print(row)

[22, 28]
[49, 64]

## MÃ—N matrix, compute the sum of all border elements (first row, last row, first column, last column).

In [25]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
    [13, 14, 15, 16]
]
sums=0
for i in range(0,len(matrix)): #4 rows 0,1,2,3 == 0 ,1
    for j in range(0,len(matrix[0])): 4 ,cols 0,1,2,3 ==0,1,2,3,0,1,2,3
        if i==0 or j==0 or (i==len(matrix)-1) or (j ==len(matrix)-1):
            sums+=matrix[i][j]
print(sums)

102

In [27]:
li=[
    [1,2,3,4],
    [5,6,7,8],
    [3,4,5,6],
    [1,2,3,4],
    [5,6,7,8] #
]
res =[]
top =0
bottom = len(li)
left =0
right = len(li[0])

for i in range(left,right):
    res.append(li[top][i])
top+=1

for j in range(top,bottom):
    res.append(li[j][right])
right -=1 #765

for k in range(right,left):
    res.append(li[bottom][k])
bottom -=1 #135

for l in range(bottom,top):
    res.append([l][left])

print(res)

[1, 2, 3, 8, 6, 4, 8]

In [28]:
li = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [3, 4, 5, 6],
    [1, 2, 3, 4],
    [5, 6, 7, 8]
]

res = []
top = 0
bottom = len(li) - 1
left = 0
right = len(li[0]) - 1

while top <= bottom and left <= right:
    # Traverse from left to right
    for i in range(left, right + 1):
        res.append(li[top][i])
    top += 1  # Move the top boundary down

    # Traverse from top to bottom
    for j in range(top, bottom + 1):
        res.append(li[j][right])
    right -= 1  # Move the right boundary left

    # Traverse from right to left (only if there are remaining rows)
    if top <= bottom:
        for k in range(right, left - 1, -1):
            res.append(li[bottom][k])
        bottom -= 1  # Move the bottom boundary up

    # Traverse from bottom to top (only if there are remaining columns)
    if left <= right:
        for l in range(bottom, top - 1, -1):
            res.append(li[l][left])
        left += 1  # Move the left boundary right

print(res)

[1, 2, 3, 4, 8, 6, 4, 8, 7, 6, 5, 1, 3, 5, 6, 7, 5, 3, 2, 4]