## Type casting

In [2]:
i=float(input("Enter a number:"))
j=str(i)
b=bool(0)
print(type(i),type(j))
print(b)

Enter a number: 3

<class 'float'> <class 'str'>
False

## list ---> set ---> tuple

In [5]:
di = dict([("name","arul"), ("age", 34), ("location","chennai") ])
print(di)

{'name': 'arul', 'age': 34, 'location': 'chennai'}

In [6]:
di = dict([("name","arul"), ("age", 34), ("location","chennai") , ("tech" , {"frontend" :["react","angular","net"]})])
print(di)

{'name': 'arul', 'age': 34, 'location': 'chennai', 'tech': {'frontend': ['react', 'angular', 'net']}}

## round abs min max

In [7]:
a=-4.1234
print(round(a,2))

-4.12

In [8]:
a=4
print(abs(a))

4

In [9]:
print(max(1,5,67))
print(min(5,6,71))

67
5

## math

In [10]:
import math
print(math.sqrt(16))

4.0

## datetime

In [11]:
import datetime
print(datetime.datetime.now())

2025-02-26 09:51:24.471531

In [12]:
import datetime
print(datetime.datetime(2025,2,12,15,16,15))

2025-02-12 15:16:15

In [16]:
import datetime
x=(datetime.datetime(2025,2,12,15,16,15))
print(x.year)
print(x.month)
print(x.day)

2025
2
12

In [21]:
#formatting date , month , year
#strftime
date=x.strftime("%d-%m-%Y   %H :%M :%S"  )
print(date)

12-02-2025   15 :16 :15

In [28]:
# suppose you know today is feb 26 after 5 days what will be the day,then use timedelta
import datetime
x=(datetime.datetime(2025,2,12,15,16,15))
y=datetime.datetime.now()
a = datetime.timedelta(days=10) #days is default
print(y+a)

2025-03-08 10:02:13.573524

## Functions

In [26]:
while True:
    i = int(input("ENter no:"))
    if i % 2 ==0:
        print("EVEN")
    else:
        print("ODD")

ENter no: 5

ODD

ENter no: 1

ODD

ENter no: 56y

ValueError: invalid literal for int() with base 10: '56y'

In [4]:
#use camel case ===> 
def oddOrEven(k):
    if k % 2 ==0:
        print("EVEN")
    else:
        print("ODD")

while True:
    i = int(input("ENter no:")) #block scope
    if i ==0:
        break
    oddOrEven(i)

ENter no: 5

ODD

ENter no: 1

ODD

ENter no: 0

In [14]:
def display(a,b,c): #default arg
    print(a+b,c)

display(1,2,"apple")
display(a="ship",b="plane",c=9) #keyword arg
display(b="triveni",a="tammana",c =1)

3 apple
shipplane 9
tammanatriveni 1

In [15]:
def add_numbers(*nums): #arbitary arg
    sum=0
    for i in nums:
        sum+=i
    print(sum)

add_numbers(1,2,3)

6

In [16]:
def print_info(**info):
    for i,j in info.items():
        print(i, " ", j)

print_info(name="Triveni",age=22)

name   Triveni
age   22

## overloading not possible because we have arbitary arguments

In [23]:
## return statement used only once nd after that control goes to where it was started
def oddOrEven(k):
    if k % 2 ==0:
       return "even"
    return "odd"


def add_numbers(*nums): #arbitary arg
    sum=0
    for i in nums:
        sum+=i
    return sum

print(add_numbers(1,2,3))
a=oddOrEven(add_numbers(1,2,3))
print(a)

6
even

In [25]:
## return statement used only once nd after that control goes to where it was started
def oddOrEven(k):
    if k % 2 ==0:
       return "even",k
    return "odd",k


def add_numbers(*nums): #arbitary arg
    sum=0
    for i in nums:
        sum+=i
    return sum

a,b=oddOrEven(add_numbers(1,2,3))
print(a," ",b)

even   6

## return vs Print

In [30]:
def doOperation(a,b,c):
    def add(a,b):
        return a+b
    def difference(a,b):
        return a-b
    if(c =="sum"):
        return add(a,b)
    else:
        return difference(a,b)

print(doOperation(2,3,"sum"))

5

In [32]:
def doOperation(a,b,c):
    def add(a,b):
        return a+b
    def difference(a,b):
        return a-b
    if(c =="sum"):
        print (add(a,b))
    else:
        print(difference(a,b))

doOperation(2,3,"sum")

5

## Recursive Function

In [33]:
# return statement is end of statement
#fun will executed until it is called break

In [39]:
#factorial
def fact(n):
    if n==0:
        return 1
    return n* fact(n-1)  #return 4 * fact(4-1)

fact(5)

120

In [42]:
#fibonacci
def fibo(n):
    if n ==0:
        return 0
    elif n ==1:
        return 1
    return fibo(n-1)+fibo(n-2)
fibo(5)

5

## MAP

In [101]:
li=["java","python","sql","react"]
print(list(map(str.upper,li)))

TypeError: str.upper() takes no arguments (1 given)

In [2]:
li=["java","python","sql","react"]
print(list(map(lambda x:x.upper,li)))

[<built-in method upper of str object at 0x000002CAAE02F690>, <built-in method upper of str object at 0x000002CAAD9B7CF0>, <built-in method upper of str object at 0x000002CAB1074510>, <built-in method upper of str object at 0x000002CAB35C3030>]

## LAMBDA

In [52]:
def add(a,b):
    return a+b
add=lambda a,b : a+b
add(1,2)

3

## FILTER

In [53]:
li=[1,2,3,4,5,6,7,8,9]
print(list(filter(lambda x : x%2 ==0,li)))

[2, 4, 6, 8]

## 4)Given a sentence as a string, return the count of vowels (a, e, i, o, u).
## Input: "Hello World"
## Output: 3

In [55]:
str=input("enter string:").lower()
vowels="aeiou"
count=0
for char in str:
    if char in vowels:
        count+=1
    else:
        pass
print(count)

enter string: Hello World

3

In [59]:
def vowels(str):
    vowels="aeiou"
    count=0
    for char in str:
        if char in vowels:
            count+=1
        else:
            pass
    return count


str=input("enter string:").lower()
a=vowels(str)
print(a)

enter string: Elephant

3

## 3)Given a number n, return its multiplication table (1 to 10) as a list of tuples.
## Input: 3
## Output: [(3, 1, 3), (3, 2, 6), ..., (3, 10, 30)]

In [77]:
n=int(input())
li=[]
for i in range(1,11):
    mul=(n,i,n*i)
    li.append(mul)
print(li)

 3

[(3, 1, 3), (3, 2, 6), (3, 3, 9), (3, 4, 12), (3, 5, 15), (3, 6, 18), (3, 7, 21), (3, 8, 24), (3, 9, 27), (3, 10, 30)]

## 2)Given a list of words, filter out the words that have an odd number of characters.
## sample input: words = ["apple", "banana", "grape", "kiwi", "mango", "strawberry"]

In [79]:
n=input("Enter words:").split(",")
print(n)

Enter words: apple,banana,grape

['apple', 'banana', 'grape']

In [80]:
n=input("Enter words:").split(",")
for i in n:
    if len(i)%2==1:
        print(i)

Enter words: apple,banana,grape

apple
grape

In [7]:
## Using filter

In [5]:
n=["apple","banana","grape","kiwi"]
length=list(filter(lambda a:len(a)%2==1,n))
print(length)

['apple', 'grape']

## 1)You have a list of product prices in string format. Convert them into float values using map(), then calculate the total sum.
## sample input: prices = ["12.99", "23.50", "9.99", "45.00", "5.75"]

In [82]:
n=input("Enter values").split(",")
sum=1
for i in n:
    a=float(i)
    sum+=a
print(sum)

Enter values 12.99,23.50,9.99

47.480000000000004

In [83]:
n=input("Enter values").split(",")
sum=1
for i in n:
    a=float(i)
    sum+=i
print(sum)

Enter values 12.99,23.50,9.99,45.00,5.75

98.23

In [13]:
n=["12.99","23.50","9.99","45.00","5.75"]
p=list(map(float,n))
print(sum(p))

97.23

## 1)Given a list of words, group words that are anagrams.
## Input: ["eat", "tea", "tan", "ate", "nat", "bat"]
## Output: [['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat']]

In [ ]:
n=["eat", "tea", "tan", "ate", "nat", "bat"]
for i in n:
    if i

In [18]:
a="eat"
b="ten"
for char in a:
    if char in b:
        print("ana")
        break
    else:
        print("no")

ana

## 2)Given an unsorted list of integers, find the length of the longest consecutive sequence.
## Input: [100, 4, 200, 1, 3, 2]
## Output: 4  # (because the sequence is 1, 2, 3, 4)

In [25]:
n=[100,4,200,1,3,2]
n=set(n)
print(n)

{1, 2, 3, 100, 4, 200}

## sequence prob

In [26]:
def arrayList(numbers):
    numbers.sort()
    count = 0
    max = 0
    for i in range(len(numbers)-1):
        if numbers[i] - numbers[i+1] ==-1:
            count +=1
        else:
            if max<count:
                max = count+1
            count =0
    return max
print(arrayList([100, 4, 200, 1, 3, 2]))

4

## ANAGRAMS

In [2]:
def group_anagrams(words):
    result = []  # Stores grouped anagrams
    seen = []  # Tracks unique sorted words

    for word in words:
        sorted_word = ''.join(sorted(word))  # Sort characters to identify anagrams

        if sorted_word in seen:
            index = seen.index(sorted_word)  # Find the existing group
            #print(index)
            result[index].append(word)  # Add to the group
        else:
            seen.append(sorted_word)  # Track the new anagram type
            result.append([word])  # Create a new group

    return result
words=["eat", "tea", "tan", "ate", "nat", "bat"]
group_anagrams(words)

[['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat']]

In [ ]:
"eat" → Sorted: 'aet' (not in seen)

seen = ['aet']
result = [['eat']]
"tea" → Sorted: 'aet' (already in seen at index 0)

result = [['eat', 'tea']]
"tan" → Sorted: 'ant' (not in seen)

seen = ['aet', 'ant']
result = [['eat', 'tea'], ['tan']]
"ate" → Sorted: 'aet' (already in seen at index 0)

result = [['eat', 'tea', 'ate'], ['tan']]
"nat" → Sorted: 'ant' (already in seen at index 1)

result = [['eat', 'tea', 'ate'], ['tan', 'nat']]
"bat" → Sorted: 'abt' (not in seen)

seen = ['aet', 'ant', 'abt']
result = [['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat']]
Final Output

## DIce prob

In [4]:
d1=[1,2,3,4,5,6]
d2=[1,2,3,4,5,6]
li=[]
for i in d1:
    for j in d2:
        li.append((i,j))
print("list is")
print(li)


n=len(li)
print("length",n)
di={}
for i in li:
    s=sum(i)
    if s in di:
        di[s].append(i)
    else:
        di[s]=[i];
        
print("keyvalues")
print(di)

for i,j in di.items(): #finding length nd probabality (no.of outcomes/total prob)
    di[i] = len(j)/n*100

print("\n")
print("Probabilities are")
print(di)

list is
[(1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (2, 1), (2, 2), (2, 3), (2, 4), (2, 5), (2, 6), (3, 1), (3, 2), (3, 3), (3, 4), (3, 5), (3, 6), (4, 1), (4, 2), (4, 3), (4, 4), (4, 5), (4, 6), (5, 1), (5, 2), (5, 3), (5, 4), (5, 5), (5, 6), (6, 1), (6, 2), (6, 3), (6, 4), (6, 5), (6, 6)]
length 36
keyvalues
{2: [(1, 1)], 3: [(1, 2), (2, 1)], 4: [(1, 3), (2, 2), (3, 1)], 5: [(1, 4), (2, 3), (3, 2), (4, 1)], 6: [(1, 5), (2, 4), (3, 3), (4, 2), (5, 1)], 7: [(1, 6), (2, 5), (3, 4), (4, 3), (5, 2), (6, 1)], 8: [(2, 6), (3, 5), (4, 4), (5, 3), (6, 2)], 9: [(3, 6), (4, 5), (5, 4), (6, 3)], 10: [(4, 6), (5, 5), (6, 4)], 11: [(5, 6), (6, 5)], 12: [(6, 6)]}


Probabilities are
{2: 2.7777777777777777, 3: 5.555555555555555, 4: 8.333333333333332, 5: 11.11111111111111, 6: 13.88888888888889, 7: 16.666666666666664, 8: 13.88888888888889, 9: 11.11111111111111, 10: 8.333333333333332, 11: 5.555555555555555, 12: 2.7777777777777777}

In [34]:
d1=[1,2,3,4,5,6]
d2=[1,2,3,4,5,6]
R=5
o=[ [(1,3),(4,5)],[(2,3),(4,5)], [(1,6),(2,2)], [(3,4,(5,1))], [(6,6),(1,1)] ]
score ={'player1':0 , 'player2':0}
li=[]
for i in d1:
    for j in d2:
        li.append((i,j))
print("list is")
print(li)


n=len(li)
di={}
for i in li:
    s=sum(i)
    if s in di:
        di[s].append(i)
    else:
        di[s]=[i];
        
print("keyvalues")
print(di)

for i,j in di.items(): #finding length nd probabality (no.of outcomes/total prob)
    di[i] = len(j)/n*100

print("\n")
print("Probabilities are")
print(di)



print("\n")
print("dict")

for k in o:
    tuple1=sum(k[0])
    tuple2=sum(k[1])
    print(tuple1)

list is
[(1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (2, 1), (2, 2), (2, 3), (2, 4), (2, 5), (2, 6), (3, 1), (3, 2), (3, 3), (3, 4), (3, 5), (3, 6), (4, 1), (4, 2), (4, 3), (4, 4), (4, 5), (4, 6), (5, 1), (5, 2), (5, 3), (5, 4), (5, 5), (5, 6), (6, 1), (6, 2), (6, 3), (6, 4), (6, 5), (6, 6)]

TypeError: 'int' object is not callable

In [7]:
d1 = [1,2,3,4,5,6]
d2 = [1,2,3,4,5,6]
R = 5
o = [[(1,3),(4,5)],[(2,3),(4,5)],[(1,6),(2,2)],[(3,4),(5,1)],[(6,6),(1,1)]]
score ={'player1':0,'player2':0}
li = []
for i in d1:
    for j in d2:
        li.append((i,j))
di = {}
n = len(li)
for i in li:
    s = sum(i)
    if s in di:
        di[s].append(i)
    else:
        di[s] = [i];

for i,j in di.items():
    di[i] = len(j)/n*100

print(di)
print(li)
for i in o:
    tuple1=sum(i[0])
    tuple2=sum(i[1])
    print("\n")
    print((tuple1,tuple2))
    if (di[tuple1]<di[tuple2]):
        score['player1'] +=1
    elif(di[tuple1]>di[tuple2]):
        score['player2'] +=1
    else:
        pass
print("WInner:",max(score))

{2: 2.7777777777777777, 3: 5.555555555555555, 4: 8.333333333333332, 5: 11.11111111111111, 6: 13.88888888888889, 7: 16.666666666666664, 8: 13.88888888888889, 9: 11.11111111111111, 10: 8.333333333333332, 11: 5.555555555555555, 12: 2.7777777777777777}
[(1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (2, 1), (2, 2), (2, 3), (2, 4), (2, 5), (2, 6), (3, 1), (3, 2), (3, 3), (3, 4), (3, 5), (3, 6), (4, 1), (4, 2), (4, 3), (4, 4), (4, 5), (4, 6), (5, 1), (5, 2), (5, 3), (5, 4), (5, 5), (5, 6), (6, 1), (6, 2), (6, 3), (6, 4), (6, 5), (6, 6)]


(4, 9)


(5, 9)


(7, 4)


(7, 6)


(12, 2)
WInner: player2

In [1]:
d1 = [1,2,3,4,5,6]
d2 = [1,2,3,4,5,6]
R = 5
o = [[(1,3),(4,5)],[(2,3),(4,5)],[(1,6),(2,2)],[(3,4),(5,1)],[(6,6),(1,1)]]
score ={'player1':0,'player2':0}
li = []
for i in d1:
    for j in d2:
        li.append((i,j))
di = {}
n = len(li)
for i in li:
    s = sum(i)
    if s in di:
        di[s].append(i)
    else:
        di[s] = [i];

for i,j in di.items():
    di[i] = len(j)/n*100

print(di)
print(li)

{2: 2.7777777777777777, 3: 5.555555555555555, 4: 8.333333333333332, 5: 11.11111111111111, 6: 13.88888888888889, 7: 16.666666666666664, 8: 13.88888888888889, 9: 11.11111111111111, 10: 8.333333333333332, 11: 5.555555555555555, 12: 2.7777777777777777}
[(1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (2, 1), (2, 2), (2, 3), (2, 4), (2, 5), (2, 6), (3, 1), (3, 2), (3, 3), (3, 4), (3, 5), (3, 6), (4, 1), (4, 2), (4, 3), (4, 4), (4, 5), (4, 6), (5, 1), (5, 2), (5, 3), (5, 4), (5, 5), (5, 6), (6, 1), (6, 2), (6, 3), (6, 4), (6, 5), (6, 6)]