## ï¿½ Problem 1: Employee Salary Insights ğŸ¼ 
ï¿½
ï¿½ Scenario: 
A company maintains employee records in a Pandas DataFrame. Each employee has a 
name, department, age, salary, and years of experience. The HR department needs 
insights into salary distribution, promotions, and department-wise analysis. 
ï¿½
ï¿½ Given DataFrame: 
import pandas as pd 
data = { 
'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Emma', 'Frank', 
'Grace', 'Hannah'], 
'Department': ['HR', 'IT', 'IT', 'HR', 'Finance', 'Finance', 'IT', 
'HR'], 
'Age': [25, 32, 29, 41, 37, 45, 26, 38], 
'Salary': [50000, 70000, 65000, 80000, 75000, 90000, 62000, 
85000], 
'Experience': [2, 7, 5, 15, 10, 20, 3, 12] 
} 
df = pd.DataFrame(data) 
ï¿½
ï¿½ Tasks: 
1. 
2. 
3. 
4. 
5. 
Find the average salary of employees in each department. 
Find the highest-paid employee in each department. 
Determine how many employees have more than 5 years of experience and earn a 
salary above $65,000. 
Add a new column â€œSeniorityâ€: â€“ 
â€œJuniorâ€ (Experience < 5 years) â€“ â€“ 
â€œMid-Levelâ€ (Experience between 5-10 years) 
â€œSeniorâ€ (Experience > 10 years) 
Sort employees by salary in descending order, showing only â€œITâ€ department employees

In [1]:
import pandas as pd

data = {
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Emma', 'Frank', 'Grace', 'Hannah'],
    'Department': ['HR', 'IT', 'IT', 'HR', 'Finance', 'Finance', 'IT', 'HR'],
    'Age': [25, 32, 29, 41, 37, 45, 26, 38],
    'Salary': [50000, 70000, 65000, 80000, 75000, 90000, 62000, 85000],
    'Experience': [2, 7, 5, 15, 10, 20, 3, 12]
}

df = pd.DataFrame(data)
print("Average Salary of employees in Each Department")
print(round(df.groupby("Department")["Salary"].mean(),2))
print("\nHigh-Paid employee in each Department\n", df.loc[df.groupby("Department")["Salary"].idxmax()])
filtered = df[(df['Experience']>5)&(df['Salary']>65000)]
print("\nNumber of Employees which are 5+ Experience and Salary above 65000 :",filtered)
print()
def categorize_experience(exp):
    if exp < 5:
        return "Junior"
    elif 5 <= exp <= 10:
        return "Mid-Level"
    else:
        return "Senior"

df['Seniority'] = df['Experience'].apply(categorize_experience)
print(df)
sortITemployee = df[df['Department']=='IT'].sort_values(by='Salary',ascending=False)
print("\nIT department employees Descending order list\n",sortITemployee)

Average Salary of employees in Each Department
Department
Finance    82500.00
HR         71666.67
IT         65666.67
Name: Salary, dtype: float64

High-Paid employee in each Department
   Employee Department  Age  Salary  Experience
5    Frank    Finance   45   90000          20
7   Hannah         HR   38   85000          12
1      Bob         IT   32   70000           7

Number of Employees which are 5+ Experience and Salary above 65000 :   Employee Department  Age  Salary  Experience
1      Bob         IT   32   70000           7
3    David         HR   41   80000          15
4     Emma    Finance   37   75000          10
5    Frank    Finance   45   90000          20
7   Hannah         HR   38   85000          12

  Employee Department  Age  Salary  Experience  Seniority
0    Alice         HR   25   50000           2     Junior
1      Bob         IT   32   70000           7  Mid-Level
2  Charlie         IT   29   65000           5  Mid-Level
3    David         HR   41   80000          15     Senior
4     Emma    Finance   37   75000          10  Mid-Level
5    Frank    Finance   45   90000          20     Senior
6    Grace         IT   26   62000           3     Junior
7   Hannah         HR   38   85000          12     Senior

IT department employees Descending order list
   Employee Department  Age  Salary  Experience  Seniority
1      Bob         IT   32   70000           7  Mid-Level
2  Charlie         IT   29   65000           5  Mid-Level
6    Grace         IT   26   62000           3     Junior

## ï¿½Problem 2: Analyzing Student Grades ğŸ¼ 
ï¿½
ï¿½ Scenario: 
A university maintains student grade records for a semester. You have a DataFrame 
containing student names, subjects, marks (out of 100), and their attendance percentage. 
You need to analyze performance trends. 

ï¿½
ï¿½ Given DataFrame: 
import pandas as pd 
data = { 
'Student': ['John', 'Sara', 'Mike', 'Anna', 'David', 'Emily', 
'Chris', 'Sophia'], 
'Subject': ['Math', 'Science', 'Math', 'Science', 'Math', 
'Science', 'Math', 'Science'], 
'Marks': [85, 72, 90, 65, 78, 88, 92, 55], 
'Attendance': [92, 80, 95, 70, 85, 90, 97, 60] 
} 
df = pd.DataFrame(data) 
ï¿½
ï¿½ Tasks: 
1. 
2. 
3. 
4. 
5. 
Find the average marks for each subject. 
Identify students who scored above 85 and had less than 90% attendance. 
Add a new column â€œGradeâ€ based on marks: â€“ 
90+ â†’ â€œAâ€ â€“ â€“ â€“ 
80-89 â†’ â€œBâ€ 
70-79 â†’ â€œCâ€ 
< 70 â†’ â€œDâ€ 
Count how many students received each grade. 
Find out if attendance affects performance by calculating the correlation between marks and attendance

In [3]:
import pandas as pd


data = {
    'Student': ['John', 'Sara', 'Mike', 'Anna', 'David', 'Emily', 'Chris', 'Sophia'],
    'Subject': ['Math', 'Science', 'Math', 'Science', 'Math', 'Science', 'Math', 'Science'],
    'Marks': [85, 72, 90, 65, 78, 88, 92, 55],
    'Attendance': [92, 80, 95, 70, 85, 90, 97, 60]
}

df = pd.DataFrame(data)
avg_marks = df.groupby('Subject')['Marks'].mean()
print("Subject wise Average Marks :\n",avg_marks)
print("\nStudents above 85 and Lessthan 90:\n",df[(df['Marks']>85) &(df['Attendance']>90)]) 
def grade(g):
    if g>=90:
        return 'A'
    elif 80<= g <90:
        return 'B'
    elif 70<= g<80:
        return 'C'
    else:
        return 'D'
df["Grade"] = df['Marks'].apply(grade)
print("\nDataFrame with Grades:\n", df)
print(df['Grade'].value_counts())
correlation = df[['Marks', 'Attendance']].corr()
print("\nCorrelation between Marks and Attendance:\n", correlation)

Subject wise Average Marks :
 Subject
Math       86.25
Science    70.00
Name: Marks, dtype: float64

Students above 85 and Lessthan 90:
   Student Subject  Marks  Attendance
2    Mike    Math     90          95
6   Chris    Math     92          97

DataFrame with Grades:
   Student  Subject  Marks  Attendance Grade
0    John     Math     85          92     B
1    Sara  Science     72          80     C
2    Mike     Math     90          95     A
3    Anna  Science     65          70     D
4   David     Math     78          85     C
5   Emily  Science     88          90     B
6   Chris     Math     92          97     A
7  Sophia  Science     55          60     D
Grade
B    2
C    2
A    2
D    2
Name: count, dtype: int64

Correlation between Marks and Attendance:
                Marks  Attendance
Marks       1.000000    0.990177
Attendance  0.990177    1.000000